services:
  capitalmarkets-loaders:
    build:
      context: .
      no_cache: true
      dockerfile: Dockerfile.backend
    image: capitalmarkets-loaders-image:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: capitalmarkets-loaders-container